@import "tailwindcss";

@theme {
  --color-primary: #1e293b;
  --color-secondary: #f59e0b;
  --color-accent: #3b82f6;
  --color-background-custom: #f8fafc;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  
  --font-inter: var(--font-inter);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}
